<div class="content-global-utilisateur">
    <div class="header-content">
        <div class="header-left">
            <p>Liste des Taxes</p>
        </div>
        <div class="header-rigth">
            <div class="search">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" style="height: 25px;" nz-input placeholder="Recherche d'un utilisateur" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <span nz-icon nzType="search"></span>
                </ng-template>
            </div>
            <div class="button-create">
                <button nz-button nzType="primary" nzShape="circle" (click)="showModalRegister()">
              <span nz-icon nzType="plus" nzTheme="outline"></span>
            </button>
            </div>
        </div>
    </div>
    <div class="main-centent">
        <nz-table #smallTable nzSize="middle" [nzData]="ListTaxe">
            <thead>
                <tr>
                    <th></th>
                    <th>Libellé de la taxe</th>
                    <th>Valeur de la taxe</th>
                    <!-- <th>Date de création</th> -->
                    <th>Filiale associé</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of smallTable.data">
                    <td></td>
                    <td>{{ data.libTaxe }}</td>
                    <td>{{ data.value }}</td>
                    <td>{{ data.filiale.libFiliale }}</td>
                    <td style="display: flex;gap: 1rem;">
                        <button (click)="showModalRegister(data)" style="    background: #ff7900;
                    border: none;
                    color: white;justify-content: center;
                    display: flex;font-weight: bold;
                    align-items: center;" nz-button nzType="primary" nzShape="circle">
                  <span nz-icon nzType="edit" nzTheme="outline"></span>
                  </button>
                        <!-- <button style="background:#2e8b05;
                    border: none;
                    color: black;justify-content: center;
                    display: flex;
                    align-items: center;" nz-button nzType="primary" nzShape="circle">
                  <span nz-icon nzType="eye" nzTheme="outline"></span>
                  </button> -->
                        <button (click)="confirmSubmitDeletFiliale(data)" style="    background: red;
                    border: none;
                    color: black;justify-content: center;
                    display: flex;
                    align-items: center;" nz-button nzType="primary" nzShape="circle"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>


<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()" [nzMaskClosable]="false" [nzOkLoading]="isOkLoading" nzWidth="60%">
    <ng-template style="font-size: 1rem;" #modalTitle>{{titleModif}}</ng-template>
    <div *nzModalContent>
        <form [formGroup]="validateFormRegister" (ngSubmit)="submitFormTaxe()" class="form-content">
            <div class="content-el">
                <div class="login-part-one">

                    <nz-form-item style="margin: 0 0 1px;">
                        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="nom">Libellé Taxe</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Entrer le libellé de la taxe">
                            <input nz-input formControlName="libTaxe" id="libTaxe" style="width:100% ;  border: 2px solid gray;
                    " />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="email" nzRequired>Valeur de la taxe</nz-form-label>
                        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Entrer un value de la taxe">
                            <input nz-input id="value" formControlName="value" style="width:100% ;  border: 2px solid gray;
                      " />
                        </nz-form-control>
                    </nz-form-item>

                </div>

                <div class="login-part-two">

                    <nz-form-item>
                        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="idRole">Filiale associée</nz-form-label>
                        <nz-select style="border: 2px solid gray;
                " nzShowSearch nzAllowClear nzPlaceHolder="Select une filiale" nzErrorTip="Selectionner une filiale svp" formControlName="idFiliale">
                            <nz-option *ngFor="let item of ListFiliale" nzCustomContent [nzLabel]="item.libFiliale" [nzValue]="item.idFiliale">
                                {{item.libFiliale}}
                            </nz-option>
                        </nz-select>
                    </nz-form-item>

                </div>
            </div>

        </form>
    </div>
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Annuler</button>
        <button nz-button nzType="primary" (click)="handleOkRegiter()" [nzLoading]="isConfirmLoading">{{titleBtn}}</button>
    </ng-template>
</nz-modal>
