<div class="content-global-utilisateur">
    <div class="header-content">
        <div class="header-left">
            <p>Edition des factures</p>
        </div>
        <div class="header-rigth">
            <!-- <div class="search">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" style="height: 25px;" nz-input placeholder="Recherche d'un utilisateur" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <span nz-icon nzType="search"></span>
                </ng-template>
            </div>
            <div class="button-create">
                <button nz-button nzType="primary" nzShape="circle" (click)="showModalRegister()">
              <span nz-icon nzType="plus" nzTheme="outline"></span>
            </button>
            </div> -->
        </div>
    </div>
    <div class="main-centent">
        <nz-tabset>
            <nz-tab nzTitle="Fatures cours ">
                <app-encours [ListFactureEncoursChield]="ListFactureEncours"></app-encours>
            </nz-tab>
            <nz-tab nzTitle="Factures rejetée">
                <app-rejeter [ListFactureRejeterChield]="ListFactureRejeter"></app-rejeter>

            </nz-tab>
            <nz-tab nzTitle="Facture valideé ">
                <app-valider [ListFactureValiderChield]="ListFactureValider"></app-valider>

            </nz-tab>
            <nz-tab nzTitle="Facture mise à jour">
                <app-mise-a-jour [ListFactureMajChield]="ListFactureMaj"></app-mise-a-jour>
            </nz-tab>
        </nz-tabset>
    </div>
</div>
